<header class="header">
  <mat-card fxFlex="25">
  
  <mat-toolbar class="tool">Aqui agendaras tus Citas </mat-toolbar>
  <mat-form-field class="example-full-width">
    <mat-label>Proxima cita</mat-label>
    <input matInput class
    placeholder="Cual es tu proxima cita?"
    [formControl]="txtInput"
    (keyup.enter)="add()"
    autofocus >
  </mat-form-field>
  
  
  </mat-card>
  
</header>
