
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.centrar{
    align-items: center;
  }
  .contenedor{
    width: 60%;
    margin: 200px;
    align-items: center;
    background-position: center center;
}