
  <div class="contenedor">

  <app-cita-add></app-cita-add>


  <!-- This section should be hidden by default and shown when there are todos -->
 
    <input id="toggle-all"
           class="toggle-all"
           (click)="toggleAll()"
           type="checkbox"  >


    <label for="toggle-all">Marca las completas</label>

    <app-cita-list></app-cita-list>

</div>
  

