
<!--<app-cita-add></app-cita-add>>-->

<head>
   
    

	<title>Citas</title>
    </head>

    
        <header>
            <div class="contenedor">
            <h2 class="logotipo">CITAS</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRC_cjN3U44n9Il5DmychCy80T2X80Ln2XMMjHEevfWI8J28Rqj&usqp=CAU" alt="Logo politecnico Grancolombiano">

                
            </div>
        </header>

        <body class="centrar">
            
       
    
    <app-todo-page></app-todo-page>

 
        </body> 

 <footer id="Contacto" class="footer" >
    <div >
        <p>Ingenieria de Sistemas</p>
        <p>Politecnico GranColombiano</p>
        <a href="https://www.poli.edu.co/content/estudiantes">Sitio web Politecnico Grancolombiano</a>
        
    </div>

</footer>



   
