<!-- `editing`  `completed`-->
<!--<li  [class.completed]="cita.completed"  [class.editing]="editing">-->
  <h1> </h1>
  <mat-toolbar class="tool">Tus citas </mat-toolbar>
  <mat-card fxFlex="25">
  <mat-list role="list">
    
    <mat-list-item role="listitem">
  <div class="view">
   <!-- <input class="toggle" [formControl]="chkCompleted" type="checkbox" checked>-->
   <mat-checkbox  [formControl]="chkCompleted" >Cita a las: </mat-checkbox>
    <label (dblclick)="edit()">{{cita.nombre}}</label>
  
    <!--<button class="destroy" (click)="remove()" ></button>-->
  </div>
  <!--<input class="edit"  type="text"   [formControl]="txtInput"  (blur)="save()" #inputControl>-->
  <button mat-flat-button color="warn" (click)="remove()">Eliminar</button>
</mat-list-item>
</mat-list>
</mat-card>
<!--</li>-->
